{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <!-- Bloc d'informations utilisateur -->
        <div class="col-6">
            <div class="container">
                <div class="card-header bg-info-subtle text-white">
                    <h5 class="fs-4 text-center p-3 text-dark">Mes informations</h5>
                </div>
                <div class="card-body">
                    {% if user.picture %}
                        <div class="text-center mb-3">
                            <img src="{{ asset('uploads/profils/' ~ user.picture) }}" alt="Photo de profil" class="rounded-circle" width="120">
                        </div>
                    {% endif %}
                    <p><strong>Email :</strong> {{ user.email }}</p>
                    <p><strong>Prénom :</strong> {{ user.civility.label()  }} {{ user.firstName }}</p>
                    <p><strong>Nom :</strong> {{ user.lastName }}</p>
                    <p><strong>Civilité :</strong> {{ user.civility.label()  }}</p>
                    <p><strong>Rôles :</strong> {{ user.roles|join(', ') }}</p>
                </div>
            </div>
        </div>

        <!-- Bloc de formulaire -->
        {# <div class="col-6">
            <div class="container">
                <div class="card-header bg-warning-subtle text-white">
                    <h5 class="fs-4 text-center p-3 text-dark">Modifier mes informations</h5>
                </div>
                <div class="card-body">
                    {{ form_start(accountForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
                    {% if user.picture %}
                        <div class="text-center mb-3">
                            <img id="image-preview" src="{{ asset('uploads/profils/' ~ user.picture) }}" alt="Photo de profil" class="rounded-circle" width="120" height="120" style="object-fit: cover;">
                        </div>
                    {% else %}
                        <img id="image-preview" class="d-none rounded-circle mb-3" width="120">
                    {% endif %}
                        {{ form_row(accountForm.pictureFile) }}
                        {{ form_row(accountForm.firstName) }}
                        {{ form_row(accountForm.lastName) }}
                        {{ form_row(accountForm.civility) }}
                        {{ form_row(accountForm.email) }}
                        {{ form_row(accountForm.submit) }}
                    {{ form_end(accountForm) }}
                </div>
            </div>
        </div> #}
    </div>
</div>
{% endblock %}
