{% extends 'base.html.twig' %}

{% block title %}Event List{% endblock %}

{% block body %}
    <h1>Event List</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.title }}</td>
                    <td>{{ event.dateStart|date('Y-m-d H:i') }}</td>
                    <td>
                        <a href="{{ path('event_show', { 'id': event.id }) }}">Show</a>
                        <a href="{{ path('event_edit', { 'id': event.id }) }}">Edit</a>
                        {{ include('event/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">Create new Event</a>

{% endblock %}