{% extends 'base.html.twig' %}

{% block title %}Event List{% endblock %}

{% block body %}
    <h1>Event List</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.title }}</td>
                    <td>{{ event.dateStart|date('Y-m-d H:i') }}</td>
                    <td>
                        <a href="{{ path('app_event', { 'slug': event.slug }) }}">Show</a>
                        <a href="{{ path('event_edit', { 'id': event.id }) }}">Edit</a>
                       <form method="post" action="{{ path('event_delete', {'id': event.id}) }}" onsubmit="return confirm('Supprimer cet événement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_create') }}">Create new Event</a>

{% endblock %}