{% extends 'base.html.twig' %}

{% block body %}
    <div class="my-5">

                {% if event %}

<section class="container position-relative">
    <div class="container d-flex justify-content-around m-3">
        <h1 class="text-center p-2 fw-bold m-2">{{ event.title ?? 'Titre non disponible' }}</h1>
        <p class="text-center fw-bold m-2 p-2 text-yoopla-blue tracking-wider lh-lg fs-4">{{ event.price ?? 'prix non disponible' }}€</p>
    </div>
    <div class="container">
        <img src="/uploads/events/{{ event.photo ?? 'photo non disponible' }}" class="card-img-top rounded-4" style="height:25rem; object-fit: cover;" alt="image evenement" title="image evenement">
    </div>
    <div>
        <h5 class="fw-medium m-2">Organisateur</h5>
        <div class="d-flex align-items-center justify-content-start">
            <img src="{{ event.creator.picture ? asset('uploads/profils/' ~ event.creator.picture) : asset('assets/images/default-img/default_avatar.jpg') }}" class="rounded-circle" style="object-fit: cover;" width="50" height="50" alt="image de profil par défaut" title="Organisateur de l'evenement">
            <p class="fw-bold m-3">
             {% if event.creator %}
            {{ event.creator.firstName }} {{ event.creator.lastName }}
        {% else %}
            Inconnu
        {% endif %}
            </p>
        </div>
        <div class="d-flex align-items-center flex-wrap justify-content-evenly">
            <p><i class="bi bi-geo"></i>{{ event.city ?? 'information non disponible' }}</p>
            <div class="d-flex justify-content-between align-items-center">
                 <p class="text-light-dark"><i class="bi bi-clock"></i>{{  event.timeStart ? event.timeStart|date('H:i') : 'information non disponible'}}</p>
                <p>
                <p class="text-light-dark ms-3"><i class="bi bi-calendar-event mx-2"></i>{{ event.dateStart ? event.dateStart|date('d/m/Y') : 'information non disponible' }}</p>
            </div>
            <p><i class="bi bi-people"></i>
                {% if event.capacity %}
                     {{ event.capacity }} personnes
                {% else %}
                        Information non disponible
                {% endif %}
            </p>
            
            {% for category in event.categories %}
    <div class="fs-6 btn rounded-5 px-4 fw-medium shadow-sm yoopla-secondary mb-3">
        <a href="{{ path('app_category', { slug: category.slug }) }}"
           class="text-decoration-none text-yoopla-blue">
           {{ category.name }}
        </a>
    </div>
{% endfor %}
        </div>
        <!-- avatar -->
        <div>
            <h5 class="fw-medium m-2">Participants</h5>
            <div class="avatar-stack mx-4">
                <span class="avatar bg-discovery z-index-1">+6</span>
                <img class="avatar" style="height:3rem; width:3rem" src="{{ asset('assets/images/default-img/person1.png')}}" style="height:3rem; width:3rem" title="participant 1" alt="image_avatar" />
                <img class="avatar" style="height:3rem; width:3rem" src="{{ asset('assets/images/default-img/person2.png')}}" style="height:3rem; width:3rem" title="participant 2" alt="image_avatar" />
                <img class="avatar" style="height:3rem; width:3rem" src="{{ asset('assets/images/default-img/person3.png')}}" style="height:3rem; width:3rem" title="participant 3" alt="image_avatar" />
                <img class="avatar" style="height:3rem; width:3rem" src="{{ asset('assets/images/default-img/person1.png')}}" title="participant 4" alt="image_avatar" />
            </div>
        </div>
        <div class="m-3 container bg-discovery-subtle rounded-4 p-3">
            <h6>Description</h6>
            <p>
             {% if event.description %}
                {{ event.description|raw }}
                {% else %}
                Information non disponible
            {% endif %}
            </p>
        </div>
        <!-- Bouton de réservation -->
        <div class="d-flex justify-content-center">

            {# ----------------------- Debut modal ---------------------------------------------  #}
            <!-- Button trigger modal -->
           
            {% if app.user and app.user.id != event.creator.id %}

               
                    {% if hasReserved %}
                    <div class="justify-content-center text-center m-3"> 
                    <div class="alert alert-warning" role="alert">
                        <div class="d-flex gap-4">
                            <span><i class="fa-solid fa-circle-exclamation icon-warning"></i></span>
                            <div class="d-flex flex-column gap-2">
                            <h6 class="mb-0">Vous avez déjà réservé à cet évènement.</h6>
                             <a href="{{ path('app_reservation') }}" class="text-decoration-none text-yoopla-blue fw-medium">Voir mes réservations</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% else %}

                <!-- Bouton de reservation -->
                <div class="btn btn-yoopla-primary fw-medium rounded-5 px-4 py-2 shadow m-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Reserver</div>
                    {% endif %}
                    

                {% elseif app.user and app.user.id == event.creator.id %}
                <!-- Bouton de suppression -->
                <div><a href="{{ path('event_delete', { id: event.id }) }}" class="btn btn-yoopla-secondary-outlined fw-medium rounded-5 px-4 py-2 shadow m-3 text-decoration-none text-light">Supprimer</a></div>
                <!-- Bouton de modification -->
                <div><a href="{{ path('event_edit', { id: event.id }) }}" class="btn btn-yoopla-primary fw-medium rounded-5 px-4 py-2 shadow m-3 text-decoration-none text-light">Modifier l'evenement </a></div>

                {% else %}
           

                <div><a href="{{ path('app_login') }}" class="btn btn-yoopla-primary fw-medium rounded-5 px-4 py-2 shadow m-3 text-decoration-none text-light">Se connecter</a></div>
                {% endif %}
            


            {# -- Modal: affichage de la modale -------------------------------------------------------------- #}
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 mx-auto text-center" id="exampleModalLabel">Terminer la réservation</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="text-regular mx-auto text-center"><i class="bi bi-envelope-check text-yoopla-red fs-5"></i> Votre adresse e-mail sera partagé avec l’organisateur de l’évènement.</p>

                            {# ------------ Envoi de la réservation ( dans le cadre d'une demande de reservation ) --------------------------------------------------------------- #}

                            <form action="{{ path('app_reservation_event', {'id': event.id}) }}" method="POST">
                                <input type="text" name="ID_Event" value="{{ event.id }}" hidden>
                                <input type="text" name="ID_User" value="{{ app.user.id }}" hidden>

                                <input type="text" name="status" value="accepted" hidden>
                                <label for="message" class="form-label mb-3">Ajouter un message de reservation</label>
                                <textarea name="message" id="message" cols="30" rows="3" placeholder="Une petite remarque ?" class="form-control"></textarea>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button type="submit" name="submit" class="mx-center btn btn-yoopla-primary fw-regular rounded-5 px-5 py-2 shadow m-3 mx-auto">Confirmer</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
           
            {# <----------------------- fin modal --------------------------------------------------- #}

        </div>
    </div>
</section>

        </div>
    </div>
{# ----------------------- Fin modal ---------------------------------------------  #}

                {% if app.user and app.user.id != event.creator.id and not hasReserved %}

{# ---------------------------------- début Bande de réservation --------------------------------- #}
        <div class="d-flex align-items-center justify-content-between border border-yoopla-primary rounded-top-4 p-3 position-sticky shadow bottom-0 bg-white <?= $hiddenClass ?>">
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="text-light-dark"><i class="bi bi-clock"></i>{{ event.timeStart|date('H:i')}}</p>
                    <p>
                    <p class="text-light-dark"><i class="bi bi-calendar-event mx-2"></i>{{ event.dateStart|date('d/m/Y') }}</p>
                </div>
                <h5>{{ event.title }}</h5>
            </div>
            <form action="" method="POST" class="d-flex justify-content-center">
                <p class="text-center fw-bold m-3 p-2 text-yoopla-blue tracking-wider lh-lg">{{ event.price }}€</p>
                <button class="btn btn-yoopla-secondary-outlined fw-medium rounded-5 px-4 py-2 shadow m-3">Enregistrer<i class="m-1 bi bi-heart"></i></button>
                <!-- Bouton de réservation -->

                <!-- modal -->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-yoopla-primary fw-medium rounded-5 px-4 py-2 shadow m-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Réserver
                </button>
                <!-- Modal: affichage de la modale -->
            </form>
        </div>
         {# fin Bande de réservation  #}
                {% endif %}

                                
                                
{% else %}

<p>Aucun événement trouvé.</p>

{% endif %}               
{% endblock %}
