{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h1>Mes catégories</h1>
        
        <h6>{{ category.name }}</h6>
        <p> {{ category.events|length }} évenements qui sont dans cette catégorie</p>
    
        </header>
        <main class="container min-vh-100">
            <div class="row mt-4">
            {# {{ dump(category.events)}} #}
                {% for event in category.events %}

                    {# card #}
                    <div class="card col-sm-12 col-md-4 col-lg-3 rounded-4 shadow m-2 mb-5 p-0" style="height:37rem;">

					<img src="/uploads/events/{{ event.photo}}" class="card-img-top rounded-top-4 img-fluid" style="height:25rem; width:100%; object-fit: cover;" alt="image evenement">
					<div class="card-body">
						<div class="mx-2 d-flex justify-content-between">
							<p class=" small fs-6 mb-0"><i class="fbi bi-geo"></i>{{ event.city}}</p>
							<span class="badge small mb-3 text-yoopla-blue rounded-pill p-2 fw-medium border">{{ category.name }}</span>
						</div>
						<h5 class="fs-5 card-title">{{ event.title}}</h5>
						{# <p class="">Organisateur: <?= $organizer_name ?></p> #}
						{# <p class="small card-text text-muted">{{ event.description}}</p> #}
						<!-- <p><i class="bi bi-people"></i> Capacité: <?= $event['capacity'] ?></p> -->
					</div>
					<div class="d-flex justify-content-center">
						<a href="<?= $detail_url ?>" class="btn yoopla-primary fw-medium rounded-5 px-4 py-2 shadow mb-3">Voir l'activité</a>
					</div>
				</div>
                    {# card #}
                {% endfor %}
                </div>

                                
                                
                                
{% endblock %}
