<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Islem FOURATI">
    <meta name="description" content="Projet de soutenance de la formation de développeur web">
    <meta name="keywords" content="Projet de soutenance, reservation, HTML, CSS, JS, PHP, MySQL">
     {# bootstrap  css link #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">

     {# favicon   #}
    <link href="assets/images/logo/favIcon.svg" rel="icon">

    {# Bootstrap icons  #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

     {# css  #}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
    <title>Yoopla login</title>
</head>

<body>
    <header class="container mt-5">
        <a class="navbar-brand" href="#"><img src="{{ asset('assets/images/logo/logo.svg')}}" style="width: 10rem;" alt="Yoopla logo"></a>
        <h6>Activités pour tous !</h6>
    </header>
    <main class="mt-3 container-fluid">
        <section class="container">
             {# ----------------------------------  formulaire de connexion --------------------------------------------  #}
            <div class=" w-75 m-auto rounded-4" style="background-color:rgb(255, 225, 225);">
                <fieldset class="border-0 p-4">
                    <legend class="text-center m-3 fw-regular">Se connecter</legend>
                    <form action="{{ path('app_login')}}" method="POST" class="mt-5 p-5">
                        <div class="mb-3">
                            <label for="InputEmail1" class="form-label">Adresse Email</label>
                            <input type="text" class="form-control rounded-5" id="InputEmail1" name="_username" value="{{ last_username }}" placeholder="email@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Mot de passe</label>
                            <input type="password" name="_password" class="form-control rounded-5" id="password" placeholder="Mot de passe">
                        </div>
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <button type="submit" class="mt-3 mx-5 w-50 text-center btn btn-yoopla-primary btn-lg fw-regular rounded-5 px-5 shadow">Se connecter</button>
                        </div>
                        <p class="m-3 w-100 text-center">OU</p>
                        <div class="d-flex justify-content-center align-items-center flex-column    ">
                            <p class="w-100 text-center">Vous n'avez pas de compte?<br><a href="{{ path('app_register')}}" class="text-yoopla-blue fw-medium text-decoration-none">Inscrivez-vous</a></p>
                            <a href="#" class="text-center text-yoopla-blue fw-medium text-decoration-none disabled" type="disabled">Mot de passe oublié ?</a>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        {# une fois l'utilisateur est connecté il se redirige vers la page account #}
                        <input type="hidden" name="_target_path" value="{{ path('app_account') }}">
                        {# si l'utilisateur n'est pas connecté il se redirige vers la page de connexion #}
                        {% if error %}
                            <div class="alert alert-danger mt-3" role="alert">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %} 
                        {# si l'utilisateur n'est pas connecté il se redirige vers la page de connexion #}
                        {% if app.user %}
                            <div class="alert alert-success mt-3" role="alert">
                                Vous êtes déjà connecté.
                            </div>
                        {% endif %}
                        
                    </form>

                </fieldset>
            </div>
        </section>
    </main>
    <footer class="container d-flex justify-content-around py-3">
        <p>  2025 Yoopla. Tous droits réservés </p>
    </footer>
     {# animation  #}
    <script
        src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
        type="module"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
     {# Bootstrap popper #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5-alpha3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>

     {# customized js  #}
    <script src="<?= BASE_URL; ?>assets/script/script.js"></script>
</body>

</html>
